*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.button-bar{
    display: flex;
    flex-direction: column;
}

.modal-footer{
    border-top: 0;
}
.modal-header{
    border-bottom: 0;
}

.display-block{
    display: block;
}

textarea{
    width: 100%;
    
}
.modal{
    margin-top: 5em;
    
}

.black{
    background-color: rgb(12, 12, 12);
    color: white;
}
.gray{
    background-color: rgb(29, 29, 29);
}
main{
    margin: auto;
    max-width: 75%;
    margin-top: 2em;
}
